<div class="container">
    <div class="navClass">
        <nav>
            <div class="logo">
                <h2>Bookie</h2>
            </div>
            <ul class="navLinks">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About </a>
                </li>

                <li>
                    <a href="/blogs">Blogs </a>
                </li>
            </ul>


            <!-- <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div> -->
        </nav>
    </div>